.footer_1 {
    margin: 0;
    width: 100%;
    text-align: center;
    justify-content: center;
    background-color: $naranjo;
    padding: 1rem;
    margin-top: 2rem;
    position: relative;
    left: -0;
    display: block;
}

.footer_2 {
    margin: 0;
    width: 100%;
    background-color: $negro;
    color: $blanco;
    text-align: center;
    padding: 1rem;
}
